<!DOCTYPE html>

<title>New Programme</title>

{% block body %}
    <h1>Create new Programme</h1>

    {{ include('programme/_form.html.twig') }}

    <a href="{{ path('app_programme_index') }}">back to list</a>
{% endblock %}
